<form class="form-signin" ng-submit="login()">
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class="alert alert-error" ng-show="error">
    Wrong username/password.
  </div>
  <input type="text" class="input-block-level" placeholder="Email address" ng-model="user">
  <input type="password" class="input-block-level" placeholder="Password" ng-model="password">
  <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
  </label>
  <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>